In [1]:
if True:
    print('Data Science')

Data Science

In [2]:
if False:
    print('Data Science')
print('bye for later')

bye for later

In [3]:
if True:
    print('Data Science')
print('bye for later')

Data Science
bye for later

In [4]:
# to print only Even Nmber
x=4
r=x%2
if r==0:
    print('Even Number')

Even Number

In [6]:
# to print only Even Nmber
x=11
r=x%2
if r==0:
    print('Even Number')

In [7]:
x=5
r=x%2
if r==0:
    print('Even Number')
print('Odd Number')

Odd Number

In [8]:
x=8
r=x%2
if r==0:
    print('Even Number')
print('Odd Number')

Even Number
Odd Number

In [9]:
x=8
r=x%2
if r==0:
    print('Even Number')
if r==1:
    print('Odd Number')

Even Number

In [10]:
x=3
r=x%2
if r==0:
    print('Even Number')
if r==1:
    print('Odd Number')

Odd Number

In [12]:
x=17
r=x%2
if r==0:
    print('Even Number')
if r!=0:
    print('Odd Number')

Odd Number

In [13]:
x=2
r=x%2
if r==0:
    print('Even Number')
else:
    print('Odd Number')

Even Number

In [14]:
x=6
r=x%2
if r==0:
    print('Even Number')
    if x>5:
        print('greater Number')
    else:
        print('Not greater')
else:
    print('Odd Number')

Even Number
greater Number

In [19]:
x=9
r=x%2
if r==0:
    print('Even Number')
    if x>5:
        print('greater Number')
    else:
        print('Not greater')
else:
    print('Odd Number')

Odd Number

In [21]:
x=1
if(x==1):
    print('one')
if(x==2):
    print('two')
if(x==3):
    print('three')
if(x==4):
    print('four')

one

In [26]:
x=2
if(x==1):
    print('one')
elif(x==2):
    print('two')
elif(x==3):
    print('three')
elif(x==4):
    print('four')

two

In [28]:
x=5
if(x==1):
    print('one')
elif(x==2):
    print('two')
elif(x==3):
    print('three')
elif(x==4):
    print('four')

In [29]:
x=5
if(x==1):
    print('one')
elif(x==2):
    print('two')
elif(x==3):
    print('three')
elif(x==4):
    print('four')
else:
    print('wrong output')

wrong output

In [31]:
print('data Science')

data Science

In [32]:
print('data Science')
print('data Science')

data Science
data Science

In [33]:
i=1
while i<=5:
    print('data science')
    i=i+1

data science
data science
data science
data science
data science

In [36]:
i=5
while i>=1:
    print('Data Science')
    i=i-1

Data Science
Data Science
Data Science
Data Science
Data Science

In [37]:
i=1
while i<=5:
    print('data science',':',i)
    i=i+1

data science : 1
data science : 2
data science : 3
data science : 4
data science : 5

In [38]:
i=5
while i>=1:
    print('data science',':',i)
    i=i-1

data science : 5
data science : 4
data science : 3
data science : 2
data science : 1

In [39]:
i = 1

while i<=5:
    print(' data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology')
        j = j + 1
        
    i = i + 1
    print()

 data science
 technology
 technology
 technology
 technology

 data science
 technology
 technology
 technology
 technology

 data science
 technology
 technology
 technology
 technology

 data science
 technology
 technology
 technology
 technology

 data science
 technology
 technology
 technology
 technology

In [40]:
i = 1
while i<=5:
    print(' data science', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 data science technology technology technology technology
 data science technology technology technology technology
 data science technology technology technology technology
 data science technology technology technology technology
 data science technology technology technology technology

In [42]:
i = 1
while i<=5:
    print(' data science', end = " *") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end=" *")
        j = j + 1
        
    i = i + 1
    print()

 data science * technology * technology * technology * technology *
 data science * technology * technology * technology * technology *
 data science * technology * technology * technology * technology *
 data science * technology * technology * technology * technology *
 data science * technology * technology * technology * technology *

In [43]:
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12